.logo-img{
  width: 30%;
}

img{
  max-height: 129px;
}

div.secondary.callout.text-center{
  min-height: 242px;
}
.imag1{
	margin-bottom: 10px;
	height: 150px;
	border: 2px solid black;
}
.imag2{
	width: 100%;

}